# Directories
/.idea/
/.vscode/
/archive/
/data/
/dist/
.terraform/
node_modules/

# Files
/.env
/docker-compose.override.yml
/local.env
/magnet
/TODO
.DS_Store
.terraform.lock.hcl
coverage.txt
terraform.tfvars
terragrunt-local.json

# Patterns
.*.sw[op]
*-generated.tf
*.tgz
*.zip
