{{template "header" .}}
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    {{with .Header }}
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Key:
      {{range .Head -}}
        <a href="{{ .URL }}">{{ .Text }}</a>/
      {{- end}}
      {{- .Tail }}
    </h3>
    {{end}}
  </div>
  <div class="bg-white shadow overflow-hidden sm:rounded-lg">
    <div class="border-t bg-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">MIME Type</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
            {{ .MimeType }}
          </dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Size</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
            {{ .Size }}
          </dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Timestamp</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
            {{ .Timestamp }}
          </dd>
        </div>
        {{ $even := true }}
        {{range $key, $value := .Metadata }}
        <div class="{{if $even = not $even }}bg-gray-50{{ else }}bg-white{{ end }} px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">{{ $key }}</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-3">
            {{ $value }}
          </dd>
        </div>
        {{end}}
      </dl>
    </div>
  </div>
</div>
<div class="text-xl text-center px-4 py-5 sm:px-6">
  <a href="/{{ .Key }}">Download</a>
</div>
{{template "footer" .}}
