{{template "header" .}}
<div x-data="uploader()" class="p-2 flex flex-col">
  <div id="dropzone" class="p-4 border-2 rounded-lg flex flex-row items-center"
    :class="{'border-dashed': !dragActive,  'border-gray-300': !dragActive, 'border-purple-600': dragActive}"
    @drop.stop="dropFiles"
    @dragover.window="windowDnD"
    @drop.window="windowDnD"
  >
    <div class="flex-grow text-center">
      <i class="fa fa-2x fa-cloud-upload-alt align-middle text-gray-600"></i>
      <span class="inline-block ml-2 align-middle font-medium text-gray-600">Drop Items Here</span>
    </div>
    <button @click.prevent="$refs.files.click()"
      class="ml-4 p-2 bg-purple-600 text-white rounded-lg focus:outline-none focus:ring focus:ring-purple-400"
    >
      Add Files
    </button>
    <button @click.prevent="$refs.folders.click()"
      class="ml-4 p-2 bg-purple-600 text-white rounded-lg focus:outline-none focus:ring focus:ring-purple-400"
    >
      Add Folders
    </button>
  </div>

  <form id="metadata" action="{{ .Form.Action }}" enctype="{{ .Form.Enctype }}" method="{{ .Form.Method }}" onsubmit="uploadFile(event)">
    <div class="mt-4 flex flex-row">
      {{range $name, $value := .Form.Fields }}{{if not (HasPrefix $name "x-amz-meta-")}}
      <input type="hidden" name="{{ $name }}"  value="{{ $value }}">
      {{end}}{{end}}
      <label for="x-amz-meta-batch-prefix" class="inline-block mr-2 py-0.5 font-semibold text-gray-600">
        Batch Prefix
      </label>
      <input id="x-amz-meta-batch-prefix" name="x-amz-meta-batch-prefix"
        class="inline-block flex-grow px-2 py-0.5 border border-gray-300 rounded-md focus:border-purple-600 focus:outline-none"
        type="text" x-model="prefix"
      >
      <input type="hidden" name="x-amz-meta-creator" value="">
      <input type="hidden" name="x-amz-meta-license" value="">
      <input type="hidden" name="x-amz-meta-source" value="">
    </div>
  </form>

  <form id="filepickers">
    <input x-ref="files"
      type="file" multiple
      @change="addFiles"
      style="display:none;"
    >
    <input x-ref="folders"
      type="file" webkitdirectory
      @change="addFiles"
      style="display:none;"
    >
  </form>

  <div class="mt-2">
    <button @click.prevent="uploadFiles"
      class="p-2 bg-purple-600 text-white rounded-lg focus:outline-none focus:ring focus:ring-purple-400"
    >
      Upload
    </button>
    <span id="progress"></span>
  </div>

  <div class="flex flex-row">
    <div class="mt-2 flex-grow">
      <table>
        <thead class="border-b border-gray-400">
          <tr>
            <td class="w-36">
              Pending: <span x-text="files.length"></span>
            </td>
            <th class="px-3 w-48 font-semibold text-gray-600">File</th>
            <th class="px-3 w-32 font-semibold text-gray-600">Size</th>
          </tr>
        </thead>
        <tbody>
        <template x-for="(file, index) in files" :key="file">
          <tr :class="{'bg-gray-100': index % 2}">
            <td class="bg-white align-center pr-3">
              <img :src="imageURL(file)" @load.stop="revokeImageURL($event)"
                class="checkerboard h-24 w-36 object-scale-down rounded-lg"
              />
            </td>
            <td x-text="file.webkitRelativePath || file.name" class="px-3"></td>
            <td x-text="filesize(file.size)" class="px-3 text-right"></td>
            <td>
              <button aria-label="Remove File"
                @click.prevent="removeFile(file.webkitRelativePath || file.name)"
                class="px-2 py-0.5 bg-red-600 text-white rounded focus:outline-none focus:ring focus:ring-red-400"
              >
                <i class="fa fa-trash-alt" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </template>
        </tbody>
      </table>
      <p x-show="files.length < 1" class="text-gray-600">No files added yet.</p>
    </div>

    <div class="mt-2 flex-grow">
      <table>
        <thead class="border-b border-gray-400">
          <tr>
            <td class="w-36">
              Uploaded: <span x-text="uploaded.length"></span>
            </td>
            <th class="px-3 w-48 font-semibold text-gray-600">File</th>
            <th class="px-3 w-32 font-semibold text-gray-600">Size</th>
          </tr>
        </thead>
        <tbody>
        <template x-for="(file, index) in uploaded" :key="file">
          <tr :class="{'bg-gray-100': index % 2}">
            <td class="bg-white align-center pr-3">
              <img :src="imageURL(file)" @load.stop="revokeImageURL($event)"
                class="checkerboard h-24 w-36 object-scale-down rounded-lg"
              />
            </td>
            <td x-text="file.webkitRelativePath || file.name" class="px-3"></td>
            <td x-text="filesize(file.size)" class="px-3 text-right"></td>
          </tr>
        </template>
        </tbody>
      </table>
      <p x-show="uploaded.length < 1" class="text-gray-600">No files uploaded yet.</p>
    </div>
  </div>
</div>

<script>
var imageExtensions = /\.(gif|jpg|jpeg|png)$/i;

function imageURL(file) {
  if (imageExtensions.test(file.name) || file.type.startsWith("image/")) {
    return URL.createObjectURL(file);
  }
}

function revokeImageURL(e) {
  URL.revokeObjectURL(e.target.src)
}

function scanDirectory(entry, files) {
  var directoryReader = entry.createReader();
  directoryReader.readEntries(function(entries) {
    entries.forEach(function(entry) {
      if (entry.isDirectory) {
        scanDirectory(entry, files);
      } else if (!entry.name.startsWith(".")) {
        entry.file(function(f){
          files.push(f);
          sortFiles(files);
        });
      }
    });
  });
}

function sortFiles(files) {
  files.sort(function(a, b){
    a = a.webkitRelativePath || a.name;
    b = b.webkitRelativePath || b.name;
    if (a < b) { return -1; }
    if (a > b) { return 1; }
    return 0;
  });
}

function uploader() {
  return {
    dragActive: false,
    prefix: (new Date()).toISOString(),
    files: [],
    uploaded: [],

    addFiles(e) {
      var files = this.files;
      var items = Array.from(e.target.files);
      items.forEach(function(file) {
        files.push(file);
      });
      sortFiles(files);
    },

    dropFiles(e) {
      e.preventDefault();
      this.dragActive = false;
      var files = this.files;
      var items = Array.from(e.dataTransfer.items);
      items.forEach(function(item) {
        if (item.kind == 'file') {
          if (item.webkitGetAsEntry) {
            var entry = item.webkitGetAsEntry();
            if (entry.isDirectory) {
              scanDirectory(entry, files);
              return;
            }
          }
          files.push(item.getAsFile());
        }
      });
      sortFiles(files);
    },

    removeFile(filename) {
      this.files = this.files.filter(function(file){
        if (file.webkitRelativePath) {
          return filename !== file.webkitRelativePath;
        }
        return filename !== file.name;
      });
    },

    uploadFiles() {
      var self = this;
      var files = this.files;
      var uploaded = this.uploaded;
      uploadFile(files[0], function(){
        uploaded.push(files.shift());
        sortFiles(uploaded);
        self.uploadFiles();
      });
    },

    windowDnD(e) {
      e.preventDefault();
      if (e.target.matches('#dropzone, #dropzone *')) {
        var dt = e.dataTransfer;
        this.dragActive = dt && dt.types.indexOf("Files") != -1;
      } else {
        e.dataTransfer.dropEffect = "none";
        this.dragActive = false;
      }
      return this.dragActive;
    },
  }
}

function uploadFile(file, callback) {
    var form = document.getElementById("metadata");
    var prefix = form.elements["x-amz-meta-batch-prefix"];
    if (prefix && !prefix.value) {
      prefix.value = (new Date()).toISOString();
    }

    var filename = file.webkitRelativePath || file.name;
    var message = "Uploading " + filename + " ";
    var progress = document.getElementById("progress");
    var xhr = new XMLHttpRequest();
    xhr.open(form.method, form.action);
    xhr.upload.addEventListener("progress", function(e){
      var pct = Math.round(e.loaded / e.total * 100);
      if (pct == 100 && e.loaded < e.total) {
        pct = 99;
      }
      progress.innerText = message + pct + "%";
    }, false);
    xhr.upload.addEventListener("loadend", function(e){
      progress.innerText = "";
      callback();
    }, false);

    var formdata = new FormData(form);
    formdata.set("key", formdata.get("key").replace(
      "${filename}", filename
    ));
    formdata.set("file", file);
    xhr.send(formdata);
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/filesize/6.1.0/filesize.min.js"
    integrity="sha512-K1ufgo/KGDIg6PqZlayCH/DcV9LFooMvuXa0Y+b+Z/ganPkoUjWvDDrzo9dqxRdWA5utkoHwTNm3G3SJemIdDw=="
    crossorigin="anonymous"></script>
{{template "footer" .}}
